# Google Apps Script Web App URL
# Dapatkan URL ini setelah melakukan Deploy > New deployment > Web App pada Google Apps Script Editor
VITE_APPS_SCRIPT_URL=https://script.google.com/macros/s/AKfycbxYOUR_DEPLOYED_SCRIPT_ID_HERE/exec
